@model EntityLayer.Concrete.BlogPost
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Title;
}


<a href="/Blog" class="back-btn">
    <i class="ti ti-arrow-left"></i> Yazılara Dön
</a>

<div class="post-header">
    <div class="post-meta">
        <a href="/Blog?categoryId=@Model.BlogCategoryId" class="post-category-badge">
            @Model.BlogCategory?.Name
        </a>
        <span class="post-date">
            <i class="ti ti-calendar" style="font-size: 12px;"></i>
            @Model.CreatedDate.ToString("dd MMMM yyyy")
        </span>
    </div>
    <div class="post-title">@Model.Title</div>
</div>

<div class="post-content">
    @Html.Raw(Model.Content)
</div>